<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="com.maoyou.ioc.User" init-method="init" destroy-method="destroy" scope="prototype">
        <property name="name" value="张三"/>
        <property name="org" ref="org"/>
    </bean>
    <bean id="org" class="com.maoyou.ioc.Org">
        <property name="name" value="银海"/>
    </bean>

    <bean class="com.maoyou.ioc.MyBeanFactoryPostProcessor"/>
    <bean class="com.maoyou.ioc.MyBeanPostProcessor"/>
</beans>
