<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="a" class="com.maoyou.circulardependency.A">
        <property name="b" ref="b"/>
    </bean>
    <bean id="b" class="com.maoyou.circulardependency.B">
        <property name="a" ref="a"/>
    </bean>

    <!-- AOP 配置，验证三级缓存 -->
    <bean class="com.maoyou.springframework.aop.framework.autoproxy.AspectJAwareAdvisorAutoProxyCreator">
                <property name="proxyTargetClass" value="true"/>
    </bean>
    <bean id="advice1" class="com.maoyou.aop.BeforeAfterAdvice"/>
    <bean id="pointcut1" class="com.maoyou.springframework.aop.aspectj.AspectJExpressionPointcut">
        <property name="expression" value="execution(* com.maoyou.circulardependency.B.*(..))"/>
    </bean>
    <bean id="pointcutAdvisor1" class="com.maoyou.springframework.aop.support.DefaultBeanFactoryPointcutAdvisor">
        <property name="pointcut" ref="pointcut1"/>
        <property name="advice" ref="advice1"/>
    </bean>
</beans>
